@media(max-width:768px){
.menu{
display:block;
}
.nav-links{
display:none;
flex-direction:column;
}
.show{
display:flex;
}
.hero{
flex-direction:column;
}
.hero-text{
width:100%;
text-align:center;
}
.feature-container{
grid-template-columns:1fr;
}
.pricing-container{
flex-direction:column;
align-items:center;
}
#blog-container{
grid-template-columns:1fr;
}
}